In [ ]:
#Rezwan Tarin 101198704
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
#01-a Find the path of iris.csv file, and save it in a variable called fileName.
fileName="/content/drive/MyDrive/Colab Notebooks/Assignment2-ML/iris.csv"

In [ ]:
#01-b Read the content of the iris.csv file and save it in a variable, named iris.
iris = pd.read_csv(fileName)

In [ ]:
#01-c Show the first 5 rows of the dataframe.
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
#2-a Please convert the last column strings to integers, as 
# setosa -> 0
# versicolor -> 1
# virginica -> 2
iris.replace(to_replace=['setosa', 'versicolor', 'virginica'], value=[0, 1, 2], inplace=True)

In [ ]:
#2-b Now, check the first 5 elements of the iris dataset once again:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [ ]:
#03-a Select the first four columns of the dataframe as the Data and call the data x.
x = iris[iris.columns[0:4]]

In [ ]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
#03-b Select the last column as the label and call it y.
y= iris[iris.columns[len(iris.columns)-1]]

In [ ]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [ ]:
#04 Now, it is the time to split the data (x) and the label (y) into training and testin segments, 
#   and call them parts x_train,x_test,y_train,y_test.

In [ ]:
#04-a Please split the data, and label ito training and testing segments, while the size of test data is 20%,
#and use randome_state = 123 to make all the answers similar in the whole class.

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state = 123)

In [ ]:
#04-b Please, check the first five rows of  x_train,x_test,y_train,y_test.
x_train.head()

     sepal_length  sepal_width  petal_length  petal_width
130           7.4          2.8           6.1          1.9
119           6.0          2.2           5.0          1.5
29            4.7          3.2           1.6          0.2
0             5.1          3.5           1.4          0.2
62            6.0          2.2           4.0          1.0

In [ ]:
x_test.head()

     sepal_length  sepal_width  petal_length  petal_width
72            6.3          2.5           4.9          1.5
112           6.8          3.0           5.5          2.1
132           6.4          2.8           5.6          2.2
88            5.6          3.0           4.1          1.3
37            4.9          3.1           1.5          0.1

In [ ]:
y_train.head()

130    2
119    2
29     0
0      0
62     1
Name: species, dtype: int64

In [ ]:
y_test.head()

72     1
112    2
132    2
88     1
37     0
Name: species, dtype: int64

In [ ]:
#04-c Check the length of the x_train and x_test. If the numbers are 120 & 30, AWESOME! 
#     You are good to continue!
len(x_train)

120

In [ ]:
len(x_test)

30

In [ ]:
#05-a Please, convert y_train and y_test into categorical, and call them
#     one_hot_train_labels, and one_hot_test_labels, respectively.

from keras.utils.np_utils import to_categorical
one_hot_train_labels = to_categorical(y_train)
one_hot_test_labels = to_categorical(y_test)

In [ ]:
#06-a Please define a sequential model that contains 3 dense layers.
#     In the first and second layers, use 100 hidden units (neurons) and a 'relu' activation function.
#     For the last layer, we need to use 3 as the number of output, 
#     and the reason is we have three classes (setosa -> 0, versicolor -> 1, virginica -> 2)
#     Also, please pick an appropriate activation function for the last layer. 
#     (You already have guessed what could be the best when we have converted the labels to categorical.)

from keras import models, layers
iris = models.Sequential()
iris.add(layers.Dense(100, activation='relu'))
iris.add(layers.Dense(100, activation='relu'))
iris.add(layers.Dense(3, activation='softmax'))

In [ ]:
#06-b Now, please compile your model using 'rmsprop', an appropriate loss function, and 'accuracy' for your metrics.
iris.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])

In [ ]:
#07-a Pleease fit your model using epoch=20, batch = 10.
iris.fit(x_train, one_hot_train_labels, epochs=20, batch_size=10, validation_data=(x_test, one_hot_test_labels))

Epoch 1/20
12/12 [==============================] - 0s 9ms/step - loss: 0.0901 - accuracy: 0.9750 - val_loss: 0.1619 - val_accuracy: 0.9000
Epoch 2/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0914 - accuracy: 0.9667 - val_loss: 0.1051 - val_accuracy: 0.9667
Epoch 3/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0916 - accuracy: 0.9583 - val_loss: 0.1333 - val_accuracy: 0.9000
Epoch 4/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0938 - accuracy: 0.9750 - val_loss: 0.1148 - val_accuracy: 0.9333
Epoch 5/20
12/12 [==============================] - 0s 4ms/step - loss: 0.1005 - accuracy: 0.9583 - val_loss: 0.1024 - val_accuracy: 0.9667
Epoch 6/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0689 - accuracy: 0.9833 - val_loss: 0.2047 - val_accuracy: 0.8667
Epoch 7/20
12/12 [==============================] - 0s 13ms/step - loss: 0.0912 - accuracy: 0.9667 - val_loss: 0.1078 - val_accuracy: 0.9667
Epoch 8/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0699 - accuracy: 0.9583 - val_loss: 0.1431 - val_accuracy: 0.9000
Epoch 9/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0870 - accuracy: 0.9667 - val_loss: 0.1054 - val_accuracy: 0.9667
Epoch 10/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0946 - accuracy: 0.9583 - val_loss: 0.1238 - val_accuracy: 0.9333
Epoch 11/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0796 - accuracy: 0.9833 - val_loss: 0.1567 - val_accuracy: 0.9000
Epoch 12/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0916 - accuracy: 0.9500 - val_loss: 0.1209 - val_accuracy: 0.9667
Epoch 13/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0738 - accuracy: 0.9583 - val_loss: 0.0969 - val_accuracy: 0.9667
Epoch 14/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0771 - accuracy: 0.9667 - val_loss: 0.1795 - val_accuracy: 0.9000
Epoch 15/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0883 - accuracy: 0.9583 - val_loss: 0.0994 - val_accuracy: 0.9667
Epoch 16/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0860 - accuracy: 0.9667 - val_loss: 0.0967 - val_accuracy: 0.9667
Epoch 17/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0963 - accuracy: 0.9750 - val_loss: 0.0972 - val_accuracy: 0.9667
Epoch 18/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0893 - accuracy: 0.9583 - val_loss: 0.1082 - val_accuracy: 0.9333
Epoch 19/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0915 - accuracy: 0.9583 - val_loss: 0.1151 - val_accuracy: 0.9333
Epoch 20/20
12/12 [==============================] - 0s 4ms/step - loss: 0.0480 - accuracy: 0.9917 - val_loss: 0.5169 - val_accuracy: 0.8000

In [ ]:
#08-a Please calculate the result, evaluating your x_test, one_hot_test_label, and see how accurate your model works.
result = iris.evaluate(x_test, one_hot_test_labels)

1/1 [==============================] - 0s 132ms/step - loss: 0.5169 - accuracy: 0.8000

In [ ]:
#09-a Now, we repeate all we have done in #06-a with the following parameters:
#     In the first and second layers, use 10 hidden units (neurons) and a 'relu' activation function.
#     For the last layer, we need to use 3.

iris = models.Sequential()
iris.add(layers.Dense(10, activation='relu'))
iris.add(layers.Dense(10, activation='relu'))
iris.add(layers.Dense(3, activation='softmax'))

In [ ]:
#09-b Use the same setting as you have done for #06-b (compile phase using 'rmsprom' and et cetera)
iris.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])

In [ ]:
#09-c Please fit your model using epoch=4, batch = 10.
iris.fit(x_train, one_hot_train_labels, epochs=4, batch_size=10)

Epoch 1/4
12/12 [==============================] - 0s 1ms/step - loss: 1.8685 - accuracy: 0.3031
Epoch 2/4
12/12 [==============================] - 0s 1ms/step - loss: 1.5229 - accuracy: 0.2554
Epoch 3/4
12/12 [==============================] - 0s 1ms/step - loss: 1.5053 - accuracy: 0.0962
Epoch 4/4
12/12 [==============================] - 0s 1ms/step - loss: 1.2463 - accuracy: 0.3109

In [ ]:
#09-d Please calculate the result, evaluating your x_test, one_hot_test_label, and see how accurate your model works.
result = iris.evaluate(x_test, one_hot_test_labels)

1/1 [==============================] - 0s 93ms/step - loss: 1.2358 - accuracy: 0.5333

In [ ]:
#10-a Please explain all you have learned from this assignment. 
# Theese are some quiestions that you could answer:
# How the number of layers or hidden units could impact the accuracy of our model.
# Do we always suffer from overfitting?
# How can we find and manage overfitting?

The simplest way to prevent overfitting is to reduce the size of the model: the number of learnable parameters in the mode (which is determined by the number of layers and the number of units per layer)

In [ ]:
#10-b
# Please try different sessing as we did in #09
# You can change the number of layers, hidden units, compile parameters, number of epochs, batch_size... everything!
# Please change one parameter at a time.
# And share your experience.

it is vary intersting and I see changess with the accuracy as well as loss function. 
definitlly we are experiecing overfitting.